* {
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 375px;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding-left: 24px;
  padding-right: 24px;
}

.logo {
  padding-right: 160px;
  font-size: 18px;
  font-weight: 700px;
  line-height: 20px;
  color: #6070ff;
}

.Section {
  padding-top: 114px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  background-image: url(./images/sectionImg.png);
}

.P {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  padding-left: 2%;
}

.P2 {
  color: #344563;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 2%;
  padding-right: 5%;
  margin-top: 12px;
}

.txt {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 15px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.socialImg {
  margin-top: 12px;
  padding-left: 15px;
}

.Section2 {
  padding-top: 154px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.btn {
  width: 162px;
  height: 48px;
  margin: 14px 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.btnP {
  line-height: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #396df2;
}

.lists .list-lang {
  margin: -6px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists .list {
  margin: -6px;
  height: 72px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists p {
  margin-left: 12px;
  display: inline;
  line-height: 24px;
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.lists .arr {
  margin-right: 36px;
}

.lists .langs {
  height: 67px;
  margin: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 8px;
}

.langs img {
  margin: 9px 12px;
}

.langs p {
  margin: 0;
  line-height: 20px;
  font-weight: 600;
  font-size: 15px;
  color: #253858;
}
